doctype html 
html 
    head 
        title= "Agendamento de Barbearia"
        style 
            include styles.css
    body 
        header 
            h1="Agende ser Horário"
        main 
            div(class="containerAgendar")
                h2="Infelizmente não foi possivel marcar por um campo invalido no formulario, tente novamente :("